@import "tailwindcss";
@plugin "daisyui" {
	themes:
		retro --default,
		coffee --prefersdark;
}

@custom-variant dark (&:where([data-theme=retro], [data-theme=coffee] *));

@font-face {
	font-family: "Serif";
	src: url("/fonts/serif-medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Sans";
	src: url("/fonts/sans-regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Sans";
	src: url("/fonts/sans-regular-italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Sans";
	src: url("/fonts/sans-black.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-serif: "Serif", serif;
	--font-sans: "Sans", sans-serif;
}

::selection {
	background-color: var(--color-base-200);
	color: var(--color-neutral-content);
}
