---
import ArticleLayout from "../layouts/ArticleLayout.astro";
---

<ArticleLayout>
    <p class="text-balance">
        I'm <span transition:name="first-name">James</span>
        <span transition:name="last-name">Palmer</span>, a <span
            transition:name="software">software</span
        >
        <span transition:name="engineer">engineer</span> based in the UK.
    </p>
    <p class="text-balance animate-fade-in [animation-delay:0.1s]">
        I really enjoy creating useful, exceptional programs that are
        challenging to build.
    </p>
    <div class="flex-col flex gap-2">
        <p class="text-balance animate-fade-in [animation-delay:0.2s]">
            I believe:
        </p>
        <ul class="list-disc list-inside">
            <li class="animate-fade-in [animation-delay:0.3s]">
                Simplicity is worth the effort
            </li>
            <li class="animate-fade-in [animation-delay:0.4s]">
                Development is an extension of design
            </li>
            <li class="animate-fade-in [animation-delay:0.5s]">
                Great user experience usually wins
            </li>
            <li class="animate-fade-in [animation-delay:0.6s]">
                All applications should feel native
            </li>
        </ul>
    </div>
</ArticleLayout>
